@model List<Shop.Template.Model.Shop_Menu>
@{
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
}

@section Crumb
{
    <a href="/template/template/MenuManage" class="tip-bottom">
        <i class="icon-home"></i> 菜单管理
    </a>
    <a href="#" class="current">菜单列表</a>
}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>菜单ID</th>
            <th>菜单名</th>
            <th>菜单地址</th>
            <th>权限ID</th>
            <th>父节点ID</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@string.Format("{0}", item.Shop_MenuId % 2 == 0 ? "odd gradeX" : "even gradeC")">
                <td>@item.Shop_MenuId</td>
                <td>@item.Shop_MenuName</td>
                <td>@item.Shop_MenuUrl</td>
                <td>@item.Shop_RoleId</td>
                <td>@item.Shop_ParentId</td>
                <td>
                    <a class="btn btn-primary btn-mini" href="/template/template/EditMenu/@item.Shop_MenuId">编辑</a>
                    <a class="btn btn-primary btn-mini">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
